
    const numbers = ["one", "two", "three", "four"];

    numbers.foo = "bar"; // 👈 wat

    for(let i in numbers) {
        console.log(i); // 0, 1, 2, 3, foo 
    }                   //☝️ Properties of Array()   