:root{
    --primary: white;
    --secondary: #1F2022;
    --tertiary: #03A9FC;
    --quaternary: #FFE600;
}

.tertiary {
    color: var(--tertiary);
}

.hand-written {
    font-weight: bold;
    font-family: 'Indie Flower', cursive !important;
}

.spectacle-presenter-main .spectacle-slide {
    max-height: 50%;
}

.subtitle {
    position: absolute;
    bottom: 2em;
    left: 15vw;
    font-size: 1.3em;
}

.side-by-side-code {
    display: flex;
    justify-content: space-evenly;
    min-width: 80vw;
}

.side-by-side-code.tall {
    min-height: 80vh;
}

.side-by-side-code  div {
    flex: 0 1 auto;
    min-width: 50%;
    min-height: 500px;
    margin: 1em;
}

.side-by-side-code  div pre {
    height: 100%;
}

.prism-code {
    font-size: 3.2em !important;
    min-height: 65vh;
}

.prism-code  span.comment {
    color: var(--quaternary);
}

div.meme img.aliens {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: auto;
    height: 100%;
    margin-top: 0;
}

div.meme p.meme-text {
    position: absolute;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 100pt;
    bottom: 1em;
    left: 0;
    right: 0;
    -webkit-text-fill-color: white; /* Will override color (regardless of order) */
    -webkit-text-stroke-width: 3px;
    -webkit-text-stroke-color: black;
}

.browsers {
    display: flex;
    justify-content: space-evenly;
}

.browsers img {
    width: 6em;
    height: 6em;
}

.browsers .check path,
.browsers .cross line {
    fill: none;
    stroke: #FFFFFF;
    stroke-miterlimit: 10;
    stroke-width: 10px;
    margin: 40px;
    stroke-dasharray: 500;
    stroke-dashoffset: 500;
    overflow: visible;
  }

.browsers .cross line {
    stroke-width: 5px;
}

.browsers .check.animate path {
    animation: draw-check 0.5s linear forwards;
  }

.browsers .cross.animate line {
    animation: draw-cross 0.5s linear forwards;
}
  
.browsers svg.check  {
    overflow: visible;
}
  
@keyframes draw-check {
    from {
      stroke-linecap: round;
      stroke: #FFFFFF;
    }
    to {
      stroke: #2ABA66;
      stroke-linecap: round;
      stroke-dashoffset: 0;
    }
  }
  
@keyframes draw-cross {
    from {
      stroke-linecap: round;
      stroke: #FFFFFF;
    }
    to {
      stroke: red;
      stroke-linecap: round;
      stroke-dashoffset: 0;
    }
}

.reference {
    display: block;
    position: absolute;
    bottom: 5em;
    right: 15vw;
    width: 6em;
    overflow: hidden;
    text-overflow: ellipsis;
}


.me {
    position: relative;
}

.me .photo {
    border-bottom: 5px solid #585856;
}

.me .retort-stand,
.me .robot,
.me .test-tubes,
.me .beaker,
.me .gde
 {
    animation: slide-up 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.me .retort-stand {
    position: absolute;
    bottom: -5em;
    left: 9em;
    width: 8em;
    height: 8em;
}

.me .robot {
    position: absolute;
    bottom: -7.5em;
    right: 9em;
    width: 8em;
    height: 8em;
    animation-delay: 350ms;
}

.me .test-tubes {
    position: absolute;
    bottom: -8.5em;
    right: 14em;
    width: 8em;
    height: 8em;
    animation-delay: 200ms;
}

.me .beaker {
    position: absolute;
    bottom: -7.5em;
    left: 14em;
    width: 4em;
    height: 4em;
    animation-delay: 300ms;
}

.me .gde {
    position: absolute;
    top: 1em;
    right: 8em;
    height: 8em;
}

.me .whisper {
  position: absolute;
  top: -2em;
  left: 10em;
  font-size: 2vw;
  color: #ccc;
  fill: transparent;
  font-style: italic;
  width: 8em;
}

.me .whisper i {
    position: absolute;
    top: 0.9em;
    left: 0.7em;
    font-size: 1.7em;
}

@keyframes slide-up {
    0% {
      transform: translateY(100px);
      opacity: 0;
    }
    100% {
      transform: translateY(-100px);
      opacity: 1;
    }
  }

  video.big {
    position: absolute;
    top: 0;
    left: 15vw;
    height: 100vh;
  }
  
  video.mid {
    height: 16em;
  }

  .netscape-sun {
      display: flex;
      padding-left: 9em;
      justify-content: space-evenly;
  }

  .netscape-sun .heart {
    text-align: center;
    margin: 5em 0 0 5em;
  }
