    
    var i;

    for (i = 0; i < 10; i++) {
        (function() {
            var x;
            x = 2 ** i;
            
            setTimeout(function(){
                console.log(x);  // 1, 2, 4, etc
            }, 0);
        }) ();
    }
    