
    let foo = {
        bar: function(){ 
          console.log(this.baz);
        },
        baz: 'wat?'
    };
    
    let shallowCopy = { 
        ...foo, // ✨ magic ✨
        baz: 'cool!'
    };

    shallowCopy.bar(); 
    