
    let foo = {
        bar: function(){ 
          console.log(this.baz); // cool!
        },
        baz: 'wat?'
    };
    
    let shallowCopy = { 
        ...foo, 
        baz: 'cool!'
    };

    shallowCopy.bar(); 
    