    
    let fetchFoo = async () => {
        try {
            let response = await fetch('/foo.json');
            let foo = await response.json();

            return foo;
        } catch (error) {
            console.log(error);
        }
    };

    let foo = await fetchFoo();
    
